header.container{
    font-family: garamond, serif;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

.button {
  background-color: #3D2B1F;
  border: none;
  color: white;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2{
  background-color: black;
  border: none;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 46.4%;
  top: 11%;
}

.tappa{
    background: #FFF5EE	;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #D2B48C;
    border-right: 5px solid #D2B48C;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.viaggio{
    background: #FFF5EE;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tappa:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.viaggio:hover {
  transform: translateY(-7px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

main{
    max-width: 900px;
    margin: auto;
    padding: 20;
}

body{
    line-height: 1.6;
    background-color: #FAEBD7;
    color: #333;
}

a:link, a:visited {
  color: white;
  padding: 15px
  margin: 20px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #EBB55F;
}

a:hover, a:active {
  background-color: #D2B48C;
}